#PanDas Week 2

# #05 Membalik Urutan Baris dan Kolom pada Data Frame
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  5  4  9  9  1
1  8  2  8  8  4
2  9  1  7  9  7
3  1  6  9  8  6
4  4  7  8  2  7

Membalik Urutan Kolom

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  1  9  9  4  5
1  4  8  8  2  8
2  7  9  7  1  9
3  6  8  9  6  1
4  7  2  8  7  4

Membalik Urutan Baris

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  4  7  8  2  7
3  1  6  9  8  6
2  9  1  7  9  7
1  8  2  8  8  4
0  5  4  9  9  1

Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

In [5]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  4  7  8  2  7
1  1  6  9  8  6
2  9  1  7  9  7
3  8  2  8  8  4
4  5  4  9  9  1

# #06 Mengganti Nama (label) Kolom pada Data Frame
Import Modules

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  1  6  3  5  7
1  6  8  3  1  2
2  2  6  1  6  8
3  9  3  4  1  9
4  7  1  9  3  4

Mengganti Nama (label) Untuk Sebuah Kolom pada Data Frame

In [8]:
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  1  6     3  5  7
1  6  8     3  1  2
2  2  6     1  6  8
3  9  3     4  1  9
4  7  1     9  3  4

Mengganti Nama (label) Untuk Banyak Kolom pada Data Frame

In [9]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     1       6  3     5  7
1     6       8  3     1  2
2     2       6  1     6  8
3     9       3  4     1  9
4     7       1  9     3  4

# #07 Menghapus (drop) Missing Values (NaN) pada Data Frame
Import Modules

In [10]:
import pandas as pd

print(pd.__version__)

1.3.5

Persiapan Data Frame

In [11]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  uZxZboi0Hq -0.588363 -0.162944  0.441149  0.273888
1  R3aqXDTOP8       NaN       NaN -0.684160  0.555466
2  Eje4OrAtWe  0.792983  0.691138       NaN  0.396113
3  YFSdgswzoS  0.975577  1.763194       NaN  0.711088
4  aSU8IgAW1w  1.827981  0.528231 -0.365139  0.008549

In [12]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  uZxZboi0Hq -0.588363 -0.162944  0.441149  0.273888
1  R3aqXDTOP8       NaN       NaN -0.684160  0.555466
2  Eje4OrAtWe  0.792983  0.691138       NaN  0.396113
3  YFSdgswzoS  0.975577  1.763194       NaN  0.711088
4  aSU8IgAW1w  1.827981  0.528231 -0.365139  0.008549

In [13]:
df_backup = df.copy(deep=True)

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values

In [14]:
df = df.dropna(axis='columns') 
df.head()

            Z
0  uZxZboi0Hq
1  R3aqXDTOP8
2  Eje4OrAtWe
3  YFSdgswzoS
4  aSU8IgAW1w

Menghapus (drop) Setiap Baris yang Mengandung Missing Values

In [17]:
df = df_backup.copy(deep=True)

df = df.dropna(axis='rows')

df.head()

            Z         A         B         C         D
0  uZxZboi0Hq -0.588363 -0.162944  0.441149  0.273888
4  aSU8IgAW1w  1.827981  0.528231 -0.365139  0.008549
7  UfoFY6V7dM  0.669411  0.375683  0.378631 -1.152524
8  e1YVVtdDnW -0.139155  1.187161 -1.413395  0.667771
9  Al3nhPdaFg  0.313838  0.621274 -0.226896 -0.235325

Persentase missing values untuk tiap kolom

In [18]:
df = df_backup.copy(deep=True)

df.isna().mean()*100

Z     0.000000
A    13.333333
B    10.000000
C     6.666667
D    10.000000
dtype: float64

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values Berdasarkan Threshold (ambang batas)

In [19]:
treshold = len(df) * 0.9 
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         B         C         D
0  uZxZboi0Hq -0.162944  0.441149  0.273888
1  R3aqXDTOP8       NaN -0.684160  0.555466
2  Eje4OrAtWe  0.691138       NaN  0.396113
3  YFSdgswzoS  1.763194       NaN  0.711088
4  aSU8IgAW1w  0.528231 -0.365139  0.008549

# #08 Memeriksa Kesamaan Antar Dua Buah Kolom (Series) pada Data Frame
Import Modules

In [20]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [21]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series

- Series adalah struktur data lain yang dimiliki pandas dengan objek 1-dimensi yang berisi sequence nilai dan berasosiasi dengan label data, yang disebut indeks.
- Untuk membuat sebuah Series atau kolom, kita bisa membuatnya dari sebuah array dengan memanggil fungsi Series pada pandas.

In [22]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [23]:
type(df['A'])

pandas.core.series.Series

In [24]:
type(df)

pandas.core.frame.DataFrame

Memeriksa Kesamaan dengan Operator ==

In [25]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

Memeriksa kesamaan dengan method equals()

In [26]:
df['A'].equals(df['B'])

True

Memeriksa Kesamaan Antar Dua Data Frame

In [27]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [28]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True